body{
    /*background-color: #111827;*/
    background-color: aliceblue;

    
}
h1{
    text-align: center;
    color: white;
}

/*button{
    transform: translate(10px);
}*/

#one{
    transform: translateY(10px);
    padding-left: 44px;
    padding-right: 44px;
}
#two{
    transform: translateY(20px);
    padding-left: 54px;
    padding-right: 54px;
}
#three{
    transform: translateY(30px);
    padding-left: 46px;
    padding-right: 46px;
}
#four{
    transform: translateY(40px);
    padding-left: 29px;
    padding-right: 29px;
}
#five{
    transform: translateY(50px);
    padding-left: 47px;
    padding-right: 47px;
}
#six{
    transform: translateY(60px);
    padding-left: 25px;
    padding-right: 25px;
}
#seven{
    transform: translateY(70px);
    padding-left: 27px;
    padding-right: 27px;
}
