<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/LandingStyle.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to iWantToStudyZA</h1>
    <h2>Your Ultimate Guide to University Studies in South Africa</h2>
    <hr>
    <p>
        Whether you're interested in Science, Health Sciences, Engineering, Commerce, Law, Management, or Humanities, 
        iWantToStudyZA provides a streamlined and user-friendly experience to help you find the right program 
        for your academic and career goals.
    </p>
    <hr>

    <h2>Choose your University of choice below: </h2>

    <a href="{{ url_for('wits') }}">
        <button>University of the Witwatersrand</button>
    </a>
    <br>
    
    <a  href="">
        <button id="one">University of Cape Town</button>
    </a>
    <br>
    <a href="">
        <button id="two">University of Pretoria</button>
    </a>
    <br>
    <a href="">
        <button id="three">Stellenbosch University</button>
    </a>
    <br>
    <a href="">
        <button id="four">University of Johannesburg</button>
    </a>
    <br>
    <a href="">
        <button id="five">North West University</button>
    </a>
    <br>
    <a href="">
        <button id="six">University of KwaZulu Natal</button>
    </a>
    <br>
    <a href="">
        <button id="seven">University of Western Cape</button>
    </a>
</body>
</html>